@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Puppy Place</h1>

<p>What does this app do? You can browse the list of dogs, add dogs, as well as update or delete entries. 
    You can also browse the list of people, add people, update, or delete. The best part - give dogs
    their furrever home by assigning them an owner!</p>
