@page "/persons"
@using PuppyPlace.Shared
@inject HttpClient _httpClient

<h3>Persons</h3>

@if (PersonList == null)
{
    <p><em>Loading...</em></p>
} 
else{

<table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>  </th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in PersonList)
        {
            <tr>
                <td>@person.Name</td>
                <td>
                    <a href="@($"person/{person.Id}")" class="btn btn-primary table-btn">View</a>
                </td>
                <td>
                    <a href="" class="btn btn-primary table-btn">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    public IEnumerable<GetPersonDto>? PersonList { get; set; } = new List<GetPersonDto>();
    
    protected override async Task OnInitializedAsync()
    {
        PersonList = await _httpClient
            .GetFromJsonAsync<IEnumerable<GetPersonDto>>("Person");

        foreach (var person in PersonList)
        {
            Console.WriteLine($"Name: {person.Name}");
            Console.WriteLine($"ID: {person.Id}");
        }
        
    }

}