@page "/person/{id:guid}"
@inject HttpClient _httpClient;

<h3 class="page-item">@PersonDto.Name</h3>
<body>ID: @PersonDto.Id</body>
<a href="@($"/edit-person/{Id}")" class="btn btn-primary">Edit</a>
<a href="@($"/adopt-dog/{Id}")" class="btn btn-primary">Adopt Dog</a>
<button class="btn btn-primary">Delete</button>


@code {
    [Parameter]
    public Guid Id { get; set; }

    public GetPersonDto? PersonDto { get; set; } = new GetPersonDto();

    protected override async Task OnInitializedAsync()
    {
        PersonDto = await _httpClient
            .GetFromJsonAsync<GetPersonDto>($"Person/{Id}");
    }

}